.noscroll {
  overflow: hidden !important;
  box-sizing: border-box;
  margin: max(80px, var(--topnav-h)) 0 0 0;
}
.hidden {
  display: none !important;
}
.hide-sidebar {
  transform: scaleX(0);
}
.hide-icon {
  transform: scale(0);
  filter: opacity(0);
}
.fixed {
  position: fixed !important;
  top: 0;
  left: 0;
}

.align {
  display: block;
}
.align-cont {
  width: 100%;
  display: flex;
  justify-content: center;
}

.col1 {
  background: var(--box1);
  color: var(--text1);
}
.col2 {
  background: var(--box2);
  color: var(--text2);
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-evenly {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.content {
  box-sizing: border-box;
  margin: 4rem 0 8rem 0;
  padding: 2rem 0;
  border-radius: 20px;
}
.content-img {
  position: relative;
  z-index: 1;

  height: 320px;
  border-radius: 20px;

  filter: var(--img-tint);
}
.right-text {
  position: relative;
  z-index: 1;

  margin-left: 4rem;
  text-align: right;
}
.left-text {
  position: relative;
  z-index: 1;

  margin-right: 4rem;
  text-align: left;
}
.fill-text {
  position: relative;
  z-index: 1;

  text-align: justify;
  padding: 0 0 1rem 0;
}
.center-text {
  position: relative;
  z-index: 1;

  margin: auto;
  text-align: center;
  width: 30vw;
}
.fill-text h5 {
  text-align: center;
}
.lone-heading {
  position: relative;
  z-index: 1;
  margin: 0 2rem 1.4rem 2rem;
  padding: 0 0 0.5rem 0;
  border-bottom: 2px solid var(--text2);

  text-transform: capitalize;
  text-align: center;
}

.sidebar-content {
  position: relative;
  display: flex;
  box-sizing: border-box;
  border-top: 2px solid var(--topnav3);
  width: auto;
  margin: 0 3rem;
  padding: 0.5rem 0 3rem 0;
  /*background: rgb(255, 226, 226);*/
}
.sidebar-text {
  display: flex;
  flex-direction: column;
  align-items: left;
  color: var(--topnav2);
}
.sidebar-text li {
  margin-bottom: 1rem;
}
.sidebar-text h3 {
  display: inline;
}

.switch {
  position: relative;
  display: inline-block;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--topnav2);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}
.slider:before {
  position: absolute;
  content: "";
  height: calc(var(--m-settings-h));
  aspect-ratio: 1;
  left: 3px;
  bottom: 3px;
  background-color: var(--topnav1);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}
.slider-move:before {
  transform: translateX(calc((var(--m-settings-h) + 6px) * 1.2));
}
.slider.round {
  border-radius: 999px;
}
.slider.round:before {
  border-radius: 50%;
}
