#form-hero-container {
  background-color: black !important;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), linear-gradient(90deg, rgba(0,0,0,1), rgba(0,0,0,0) 20%), url(../../images/form/cropped-photo-mans-hand-holding-green-pen-while-taking-notes.jpg);
  background-position: right 45%;
  background-size: 86vw;
  background-repeat: no-repeat;
}
#pc-form-hero {
  display: flex;
  align-items: end;
  margin: 30px 0 60px 0;
}
#pc-form-hero h1 {
  border-bottom: 5px solid;
}

#m-form-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px 0 40px 0;
}

#form-main-container {
  margin: 20px 0 60px 0;
  padding: 2rem 0;
  display: grid;
  z-index: 2;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 2rem;
}
#form-main-container div:has(> p) {
  min-height: 200px;
}
#form-main-container input[type="submit"] {
  width: fit-content;
}
#form-main-container div:has(> div input, div textarea),
#form-main-container div:not(:has(input[type="radio"])):has(> input, textarea) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#form-main-container div span {
  vertical-align: top;
  line-height: 1.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  text-align: left;
  text-decoration: none;
}
#form-main-container textarea {
  resize: vertical;
  width: 100%;
  height: 100%;
}
#form-main-container input:not([type="submit"], [type="radio"]) {
  width: 100%;
}
#form-main-container div:has(input[type="radio"]) {
  height: 100%;
}

.form-erase-option {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
  cursor: pointer;
  font-size: 1.4rem;
  color: inherit;
}
#form-remove-files {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
  cursor: pointer;
  font-size: 1.4rem;
  color: white;
  mix-blend-mode: difference;
}
.custom-file-upload div {
  background: transparent !important;
}



@media only screen and (max-width: 1279px) {
  #form-hero-container {
    background-size: 120vw;
    background-position: center left;
    background-repeat: no-repeat;
  }
  #form-main-container {
    padding: 0 2rem;
    grid-template-columns: 1fr;
  }
  #form-main-container div {
    min-width: 0;
    overflow-wrap: break-word;
  }
  #form-main-container div:has(> p) {
    min-height: fit-content;
  }
}