/* Contact Hero Container */
#contact-hero-container {
  width: 100%;
  height: 800px;
  color: #fff;
  position: relative;
}

#contact-hero-container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../../images/contact/contact-hero2.jpg);
  background-size: cover;
  background-position: center 30%;
  filter: var(--darken);
}

/* Contact Options Container */
#contact-options-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 1rem;
}

/* Contact Form */
#contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "contact-form-1 contact-form-3"
    "contact-form-2 contact-form-4";
  gap: 1rem;
  margin-bottom: 60px;
}

/* Mobile Contact Hero Text */
#m-contact-hero-text {
  height: 50%;
  padding: 2rem 3rem;
  display: flex;
  align-items: flex-start;
  text-align: center;
  color: var(--text1);
  overflow: hidden;
}

/* Media Query for Smaller Screens */
@media only screen and (max-width: 1279px) {
  .content-option {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .option-image {
    height: 40vh;
    width: calc(100% - 4rem);
  }

  .option-text {
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem 2rem;
  }

  .form-side-group textarea {
    min-height: 20vh;
  }

  #contact-hero-container {
    height: 80vh;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    background: var(--bg1);
  }

  #contact-hero-container::before {
    top: 0;
    right: 0;
    bottom: 50%;
    left: 0;
    background-position: center;
  }

  #contact-options-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
  }

  #contact-form {
    padding: 1rem 2rem;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "contact-form-1"
      "contact-form-3"
      "contact-form-4"
      "contact-form-2";
  }
}