#form-hero-container {
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 20%),
    url(../../images/form/cropped-photo-mans-hand-holding-green-pen-while-taking-notes.jpg);
  background-position: right 45%;
  background-size: 86vw;
  background-repeat: no-repeat;
  -webkit-background-size: 86vw;
}

#pc-form-hero {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  margin: 30px 0 60px 0;
}

#pc-form-hero h1 {
  border-bottom: 5px solid;
}

#m-form-hero {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  margin: 30px 0 40px 0;
}

#form-main-container {
  margin: 20px 0 60px 0;
  padding: 2rem 0;
  display: grid;
  z-index: 2;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 2rem;
}

#form-main-container div:has(> p) {
  min-height: 200px;
}

#form-main-container input[type="submit"] {
  width: -webkit-fit-content;
  width: fit-content;
}

#form-main-container div:has(> div input, div textarea),
#form-main-container div:not(:has(input[type="radio"])):has(> input, textarea) {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

#form-main-container div span {
  vertical-align: top;
  line-height: 1.8rem;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  text-align: left;
  text-decoration: none;
}

#form-main-container textarea {
  resize: vertical;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  border-radius: 0;
}

#form-main-container input:not([type="submit"], [type="radio"]) {
  width: 100%;
  -webkit-appearance: none;
  border-radius: 0;
}

#form-main-container div:has(input[type="radio"]) {
  height: 100%;
}

.form-erase-option {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
  cursor: pointer;
  font-size: 1.4rem;
  color: inherit;
}

#form-remove-files {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
  cursor: pointer;
  font-size: 1.4rem;
  color: white;
  mix-blend-mode: difference;
}

.custom-file-upload div {
  background: transparent !important;
}

@media only screen and (max-width: 1279px) {
  #form-hero-container {
    background-size: 120vw;
    -webkit-background-size: 120vw;
    background-position: center left;
    background-repeat: no-repeat;
  }

  #form-main-container {
    padding: 0 2rem;
    grid-template-columns: 1fr;
  }

  #form-main-container div {
    min-width: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  #form-main-container div:has(> p) {
    min-height: -webkit-fit-content;
    min-height: fit-content;
  }
}
