@import url(https://unpkg.com/flickity@2/dist/flickity.min.css);

:root {
          --carousel-height: 300px
}

.flickity-slider img {
          background: transparent;
}
.flickity-page-dots { 
          bottom: 6px; 
}
.flickity-page-dots .dot { 
          width: 10px; 
          height: 10px; 
          margin: 8px 23px; 
          opacity: 1; 
          background: white; 
          transition: 0.2s ease-in; 
} 
.flickity-page-dots .dot.is-selected { 
          width: 16px; 
          height: 16px; 
          margin: 5px 20px; 
          opacity: 1; 
} 
.flickity-button { 
          background: transparent; 
} 
.flickity-button:hover { 
          background: transparent; 
} 
.flickity-prev-next-button.next:hover { 
          right: 5px; 
} 
.flickity-prev-next-button.previous:hover { 
          left: 5px; 
} 
.flickity-prev-next-button { 
          width: 50px; 
          height: 50px; 
          transition: 0.2s ease-in-out; 
} 
.flickity-button-icon { 
          fill: black; 
}
.carousel-cell-image {
          display: block;
          height: var(--carousel-height);
          min-width: 300px;
}
.carousel-shd {
          position: absolute;
          margin-top: calc(-1*var(--carousel-height));
          height: var(--carousel-height);
          width: 100%;
          background: var(--carousel-fg);
          box-shadow: 0px -25px 10px -27px rgba(0,0,0,0.45) inset;
          pointer-events: none;
}

.text {
          padding: 5vw;
          font-size: 7vw;
          color: var(--text-col);
}

.skeleton-head nav {
          display: none;
}