.infopage {
          margin: 50px 8vw;
          color: var(--text1);
}

.infopage img {
          width: 100%;
          filter: var(--logo-effect);
}

.info-header {
          padding-bottom: 0; 
          font-size: calc(20px + 2vw);
}
.info-text{
          padding-top: 20px;
          font-size: calc(15px + 1vw);
}
