#hero-container {
   background: var(--topnav1);
}
#sidepadding {
   padding: 0 4rem;
}
#hero-img {
   width: 230px;
   filter: var(--logo-effect);
}
#hero-text {
   margin-left: 6rem;
   color: var(--text1);
}
#hero-text h2 {
   font-family: 'Poppins', sans;
   font-size: 4rem;
   font-weight: 700;
}
#hero-text h5 {
   font-size: 1.5rem;
   font-weight: 400;
   line-height: 1.2;
}