@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

:root {
  --topnav-h: 100px;
  --topimg-w: calc(var(--topnav-h)*(500/350));
  --separator-w: calc(100px + 10vw);
}
body {
  background: var(--body-col);
}

.skeleton-head {
  position: relative;
  background: var(--topnav2);
  height: calc(var(--topnav-h) + 85px);
  box-shadow: 0px -17px 10px 17px rgba(0, 0, 0, 0.45);
  z-index: 99;
}
.skeleton-head .skeleton-top {
  background: var(--topnav1);
  height: calc(var(--topnav-h) + 30px);
  clip-path: polygon(
    0% 0%, 100% 0%, 
    100% var(--topnav-h), 
    calc(50% + var(--topimg-w) + 30px) var(--topnav-h),
    calc(50% + var(--topimg-w)) calc(var(--topnav-h) + 30px),
    calc(50% - var(--topimg-w)) calc(var(--topnav-h) + 30px),
    calc(50% - var(--topimg-w) - 30px) var(--topnav-h),
    0% var(--topnav-h)
  );
  padding-top: 15px;
}
.skeleton-top .menu-bar {
  display: none;
}
.skeleton-top .top-link {
  display: block; 
  width: calc(var(--topimg-w) + 100px);
  margin: 0 auto; 
  height: var(--topnav-h);
}
.skeleton-top img {
  width: 100%;
  height: auto;
  filter: var(--logo-effect);
}
.skeleton-top #top-logo2 {
  display: none;
}
#sidebar-bg {
  display: none;
}

.skeleton-tnav {
  margin-top: -15px;
}
.container{
  margin: 0 3vw;
}
.container .half1{ 
  display: grid;
  width: calc(50vw - var(--separator-w));
  text-align: left;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "cell1 cell2";
}
.container .half2{ 
  display: grid;
  margin-top: -1.6em;
  margin-left: auto;
  width: calc(50vw - var(--separator-w));
  text-align: right;
  grid-template-columns: 1.2fr 0.8fr 54px 0.6fr;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "cell3 cell4 cell5 cell6";
}
.container button {
  background: transparent;
  color: var(--topnav2);
  width: 1em;
  height: 2em;
}
.container i {
  border-radius: 100%;
  background: var(--topnav2);
}
.container #lang-ico-pc {
  transform: translate(-50%, 2px) scale(1.5);
  color: var(--topnav-text);
}
.container #theme {
  padding: 2px;
  background: var(--topnav-text);
  box-shadow: 0px 0px 0px 0px var(--topnav-text);
  transition: 200ms ease-out;
  transform: translate(-50%, -4px) scale(1.25);
}
.container #theme:hover {
  box-shadow: 0px 0px 0px 5px rgba(129, 129, 129, 0.288);
}
.container select {
  background: var(--topnav2);
  color: var(--topnav-text);
  overflow-y: hidden;
  border-radius: 5px;
}
.container option {
  margin: 8px 6px -3px 6px;
}
.cell1 { grid-area: cell1; }
.cell2 { grid-area: cell2; }
.cell3 { grid-area: cell3; }
.cell4 { grid-area: cell4; align-items: center; }
.cell5 { grid-area: cell5; }
.cell6 { grid-area: cell6; }

.underline {
  display: inline-block;
  position: relative;
  color: var(--topnav-text);
}
.underline::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background: var(--topnav3);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.skeleton-foot {
  display: block;
  background: var(--footer-col);
  color: var(--footer-text);
  height: 1em;
  text-align: center;
  margin-top: 40px;
  padding: 2em 10vw 130px 10vw;
}
.skeleton-foot .skeleton-bnav {
  display: block;
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid var(--footer-text);
}
.skeleton-bnav li {
  display: inline-block;
  margin-inline: 20px;
  fill: var(--footer-text);
}
.skeleton-bnav i {
  color: var(--footer-text);
  font-size: 30px;
  transition: 200ms ease;
}
.skeleton-bnav i:hover {
  color: var(--highlight);
}
