@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

@keyframes ico-anim {
  0%, 100% {transform: translateX(0);}
	30% {transform: translateX(-6px);}
	60% {transform: translateX(6px);}
}

:root {
  --topnav-h: 50px;
}
body {
  padding-top: calc(var(--topnav-h) + 60px);
  background: var(--bg-col);
}

.skeleton-head {
  position: fixed;
  background: var(--dark-box-col);
  width: 100%;
  margin-top: calc(-1*(var(--topnav-h) + 60px));
  height: calc(var(--topnav-h) + 60px);
  z-index: 10;
  box-shadow: 0px -17px 10px 17px rgba(0, 0, 0, 0.45);
}
.skeleton-head .skeleton-top {
  position: relative;
  background: var(--light-box-col);
  height: calc(var(--topnav-h) + 50px);
  padding-top: 10px;
}
.skeleton-top .menu-bar {
  display: block;
  position: fixed;
  height: calc(var(--topnav-h) + 60px);
  width: calc(90px + 10vw);
  margin-top: -10px;
  background: var(--color-text);
  clip-path: polygon(0 0, calc(80px + 10vw - 10px) 0, calc(80px + 10vw) 50%, calc(80px + 10vw  - 10px) 100%, 0 100%);
  transition: 400ms ease;
  z-index: 11;
}
.skeleton-top #menu-ico {
  position: fixed;
  margin: calc(-10px + var(--topnav-h)/2) 20px;
  font-size: 60px;
  color: var(--light-box-col);
  transition: 200ms ease;
  transform-origin: center;
  z-index: 12;
}
.skeleton-top #menu-ico2 {
  padding: 0 4px; 
  position: fixed;
  margin: 10px 20px;
  font-size: 70px;
  color: var(--light-box-col);
  transition: 200ms ease;
  transform-origin: center;
  z-index: 12;
  transform: scale(0);
}
.selectionLang {
  transition: 200ms ease;
  font-size: 33px;
  color: var(--light-box-col);
}
.selectionLang select {
  background: var(--color-text);
  color: var(--light-box-col);
}
#themeButtons {
  transition: 200ms ease;
  font-size: 30px;
  background: transparent;
  color: var(--color-text);
}
#theme {
  border-radius: 100%;
  background: var(--light-box-col);
  transform: scale(0.9);
  padding: 3px;
}
.side-hover-group:hover > #menu-ico {
  animation: ico-anim 400ms ease;
}
.side-hover-group:hover > .menu-bar {
  clip-path: polygon(0 0, calc(90px + 10vw - 10px) 0, calc(90px + 10vw) 50%, calc(90px + 10vw  - 10px) 100%, 0 100%);
}
#sidebar-bg {
  display: block;
  position: fixed;
  background: var(--color-text);
  margin-top: -10px;
  height: 100vh;
  width: 0px;
  z-index: 12;
  transition: 400ms ease;
  overflow: hidden;
  white-space: nowrap;
  clip-path: polygon(
    0 0, 
    calc(100% - 10px) 0, 
    100% calc((var(--topnav-h) + 60px)/2), 
    calc(100% - 10px) calc(var(--topnav-h) + 60px), 
    calc(100% - 10px) 100%, 0 100%);
    padding: calc(var(--topnav-h) + 60px + 20px) 0;
}
#menu-text {
  transition: 300ms ease;
  color: transparent;
  font-size: 30px;
}
.skeleton-top img {
  display: block;
  position: fixed;
  right: 0;
  margin-left: auto;
  margin-right: 3vw;
  height: calc(var(--topnav-h) + 40px);
  clip-path: inset(0);
  z-index: 11;
  transition: opacity 400ms cubic-bezier(.8,0,.2,1),
  margin-right 400ms ease,
  clip-path 400ms ease;
  filter: var(--logo-effect);
}
.skeleton-top #top-logo2 {
  height: 76px; 
  opacity: 0;
  margin-right: calc(3vw + 135px);
}

.skeleton-tnav {
  display: none;
}
.underline {
  display: none;
}

.skeleton-foot {
  display: block;
  background: var(--dark-box-col);
  color: var(--foot-text);
  height: 1em;
  text-align: center;
  margin-top: 40px;
  padding: 2em 10vw 130px 10vw;
}
.skeleton-foot .skeleton-bnav {
  display: block;
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid var(--foot-text);
}
.skeleton-bnav li {
  display: inline-block;
  margin-inline: 20px;
  fill: var(--foot-text);
}
.skeleton-bnav i {
  color: var(--foot-text);
  font-size: 30px;
  transition: 200ms ease;
}
.skeleton-bnav i:hover {
  color: var(--color-text);
}