@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

#skeleton-top-nav {
  display: none;
}

:root {
  --rem: 10px;

  --topnav-h: 10vh;

  --pill-lang: 140px;
  --pill-h: 40px;
  --pill-theme: 100px;
  --pill-ang: 4px;
  --pill-round: 16px;

  --m-settings-h: 1.3rem;
}

#skeleton-head {
  position: relative;
  background: var(--topnav1);
  width: 100%;
  box-shadow: var(--topnav-shadow);
  z-index: 99;
}

#skeleton-sidebar-cont {
  overflow: hidden;
  transform-origin: right;
  transition: 200ms transform ease-in-out;
}
#skeleton-top-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#skeleton-top-mobile img {
  box-sizing: border-box;
  height: var(--topnav-h);
  padding: 0.8rem 1.4rem;
  filter: var(--logo-effect);
}
#mobile-menu-icon-cont {
  display: flex;
  align-items: center;
  height: var(--topnav-h);
  width: 2rem;
}
#mobile-menu-icon-cont i {
  position: relative;
  inset: 0 -100%;
  width: 0 !important;
  display: flex;
  justify-content: center;
  align-self: center;
  width: fit-content;
  height: fit-content;
  font-size: calc(var(--topnav-h) - 4vh);
  color: var(--topnav2);
  cursor: pointer;
  transition: 200ms ease-out;
}
#mobile-menu-icon-cont i::before {
  padding: 1rem 2rem;
  margin: -1rem -2rem;
}

#skeleton-sidebar-cont {
  position: fixed;
  box-sizing: border-box;
  top: var(--topnav-h);
  width: 100vw;
  height: calc(100vh - var(--topnav-h));
  padding: 1rem 0 0 0;
  background: var(--topnav1);
  z-index: 999;
}
#skeleton-sidebar-menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#sidebar-page-list {
  list-style-type: disc;
  list-style-position: inside;
}
#sidebar-page-list li h3 {
  display: inline;
}

#mobile-sidebar-fill {
  position: relative;
  display: flex;
  flex-grow: 1;
  box-sizing: border-box;
}

#mobile-settings-cont {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  height: 32vh;
  padding: 20px 3rem 0 3rem;
  background: var(--topnavG);
}
#container-theme-mobile {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  background: var(--topnav3);
  padding: 1rem 1.6rem;
  font-size: var(--m-settings-h);
  line-height: 1;
}
#container-theme-mobile i {
  margin: -2px 10px -2px 0;
  font-size: calc(var(--m-settings-h) + 4px);
  color: var(--topnav2);
}
#container-theme-mobile h3 {
  margin: 0;
  display: inline;
  font-size: var(--m-settings-h);
  text-transform: capitalize;
  color: var(--topnav2);
}
#mobile-theme-switch {
  margin: -6px 0;
  width: calc((var(--m-settings-h) + 6px) * 2.2);
  height: calc(var(--m-settings-h) + 6px);
  pointer-events: none;
}
#container-lang-mobile {
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  background: var(--topnav2);
  padding: .7rem 1.6rem;
}
#container-lang-mobile i {
  margin-right: 10px;
  font-size: calc(var(--m-settings-h) + 4px);
  color: var(--topnav3);
}
#container-lang-mobile select {
  padding: 0;
  margin: 0;
  flex-grow: 1;
  background: var(--topnav2);
  color: var(--topnav3);
  font-size: var(--m-settings-h);
}

.skeleton-foot {
  display: block;
  background: var(--footer-col);
  color: var(--footer-text);
  height: 1em;
  text-align: center;
  padding: 2em 10vw 130px 10vw;
}
.skeleton-foot .skeleton-bnav {
  display: block;
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid var(--footer-text);
}
.skeleton-bnav li {
  display: inline-block;
  margin-inline: 20px;
  fill: var(--footer-text);
}
.skeleton-bnav i {
  color: var(--footer-text);
  font-size: 30px;
  transition: 200ms ease;
}
.skeleton-bnav i:hover {
  color: var(--highlight);
}
